body {
  /* display: flex; */
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.page-header {
  padding: 5px;
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.header-list {
  padding: 0px;
  display: flex;
  width: 60vh;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.list-h1 {
  font-size: x-large;
  padding: 0;
  margin: 0;
  text-align: center;
}

.reset-button {
  display: flex;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid white;
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: large;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}
.page-container {
  /*.... */
  display: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up {
  position: fixed;
  /* display: flex; */
  border: 2px solid white;
  border-radius: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  width: 80%;
  height: 30%;
  background-color: rgba(255, 0, 0, 0.6);
  text-align: center;
  color: white;
  padding: 0;
  margin: 0;
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 1;
  display: none;
}

.pop-up-header {
  font-weight: bolder;
  font-size: x-large;
  padding: 0px 0px 5px 0;
  margin: 5px 0px 0px 0px;
}

.pop-up-text {
  margin-top: 10px;

  font-style: italic;
  font-size: large;
}

.start-button {
  margin-top: 10px;
  font-size: large;
}

.grid {
  /* width: 369px; */
  width: 40vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* justify-content: center;  */
}

/* .front {
  display: none;
  width: 90px;
  height: 90px;
  margin: 5px;
} */
.card {
  /* width: 90px;
  height: 90px; */
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/n-spade.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: flex; */
}

.coin-ten {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/coin.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.coin-ten2 {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/coin.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.twenty-coin {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/twenty-coin.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.twenty-coin2 {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/twenty-coin.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.star {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/star.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.star2 {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/star.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.one-up-chest {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/one-up-chest.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.one-up-chest2 {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/one-up-chest.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.flower {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/flower.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.flower2 {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/flower.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.mushroom {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/mushroom1.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
.mushroom2 {
  width: 10vh;
  height: 10vh;
  margin-top: 3vh;
  background-color: black;
  /* border: 1px solid white; */
  background: url(assets/mushroom1.png);
  background-size: 65% 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  /* display: none; */
}
/* 
.face-down {
  
  display: flex !important;
  background-image: url(/assets/n-spade.png);
 
} */
